:root {
  --light-gray: #f0f0f0;
  --border-gray: #919191;
  --title-width: 250px;
  --primary-red: #ED071A;
  --text-olive: #B0A171;
}

body {
  height: fit-content;
  font-family: "Futura-LT-W01-Book";
  display: flex;
  margin: 0 10px;
}
.b-box {
  outline: 1px solid var(--border-gray);
}
emoji-picker {
  --emoji-font-family: "Noto Color Emoji", "Twemoji Mozilla","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","EmojiOne Color","Android Emoji",sans-serif;
  --emoji-size: 1.25vw;
  --border-size: 0px;
}
.tutorial-text{
  visibility: hidden;
  position: absolute;
  top: 50%;
  z-index: 99;
  left: 50%;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  font-weight: bold;
  background: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.fade-text{
  animation: fade-out 3s ease-in-out;
}
@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.mapboxgl-ctrl-logo {
  display: none !important;
}
.main-window, .next-window {
  width: 78.5%;
  height: 100vh;
  display: flex;
  gap: 30px;
  flex-direction: row;
}
.next-window{
  display: none;
}
.preview-img-cont img{
  height: 100%;
}
.fixed {
  position: fixed;
}
.right-panel {
  right: 10px;
  width: 20%;
  height: 100vh;
  margin-top: 25px;
}
.map-container {
  width: 42%;
  height: 100%;
}
.place-input-gap {
  width: 100%;
  height: 75px;
}
.emoji-style-cont {
  height: calc(99% - 26px);
  margin-top: 25px;
}
.emoji-cont {
  height: 50%;
  margin-bottom: 5px;
}
.center-text {
  text-align: center;
  height: 20px;
}
.emoji-cont > emoji-picker {
  width: 100%;
  height: calc(100% - 65px);
}
.emoji-size {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 15px;
  height: 45px;
  border-top: 1px solid var(--border-gray);
}
.emoji-size div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.emoji-size div:hover {
  background-color: #ddd;
}
.emoji-size div:nth-child(1) {
  font-size: 12px;
}
.emoji-size div:nth-child(2) {
  font-size: 15px;
}
.emoji-size div:nth-child(3) {
  font-size: 20px;
}
.selected-marker-size {
  outline: 1px solid var(--border-gray);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.markers-list-cont {
  display: flex;
  flex-direction: column;
  width: 21%;
  margin-top: 25px;
  height: calc(100% - 26px);
}
#MARKERS_LIST {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.map {
  display: flex;
  max-height: calc(100% - 75px);
  aspect-ratio: 1/1;
  position: relative;
}
#map {
  position: absolute;
  /* height: 500px;
  width: 500px; */
  height: 4in;
  aspect-ratio: 1/1;
  transform-origin: left top;
}
.style-cont {
  height: 50%;
  display: flex;
  flex-direction: column;
}
.map-style-cont {
  margin-top: 10px;
  display: grid;
  grid-gap: 5px;
  margin-bottom: 5px;
  justify-items: center;
  grid-template-columns: repeat(6, 1fr);
}
.map-style {
  border: 2px solid transparent;
  border-radius: 50px;
  display: flex;
  height: 3vw;
}
.map-style,
.map-style img {
  vertical-align: unset;
  cursor: pointer;
}
.toggle-btns {
  display: flex;
  height: 100%;
  max-height: 100px;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-top: 1px solid var(--border-gray);
}
.active-style {
  opacity: 1;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.412);
}
.map-style:hover {
  opacity: 0.6;
}
.map-style:active {
  opacity: 1;
}

.marker {
  position: absolute;
  will-change: unset;
  cursor: pointer;
}

.marker:hover{
  filter: drop-shadow(0 0 4px black);
}

.route-opt-cont {
  display: flex;
  gap: 4px;
}

.form-check .form-check-input {
  margin-left: -1rem;
}


.bi-plus-lg {
  z-index: 99;
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #ffffff;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
  pointer-events: none;
}

.b {
  height: 29px;
  width: 29px;
  position: absolute;
  z-index: 1;
  background: white;
  border-radius: 4px;
  font-size: 15px;
  color: #333;
  right: 10px;
  display: flex;
  bottom: 10px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.b:hover {
  background: #f2f2f2;
}

.list-item{
  margin: 0 5px;
  padding: 1px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  
}
.list-item:hover{
  border: 1px solid #919191;
  border-radius: 3px;
}

.marker-list-elem, .list-item {
  cursor: pointer;
  background-color: var(--light-gray);
}

.marker-list-elem{
  display: flex;
  height: 35px;
  align-items: center;
  border-radius: 3px;
  padding: 0 5px;
}

.marker-list-elem-label {
  margin-left: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
}

.marker-list-elem-more {
  margin: 0 10px;
}

.emoji-size-items {
  font-family: "Noto Color Emoji";
}

.active-drag-list{
  /* box-shadow: inset 0px 0px 0px 1px #000; */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px #000;;

}

.selectedMarker {
  filter: drop-shadow(0 0 4px black);
  z-index: 100;
}

.selected-list-item{
  border: 1px solid !important;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.marker-list-elem-emoji{
  font-family: "Noto Color Emoji";
}

.selected-list-item .marker-list-elem-label:hover, .selected-list-item .marker-list-elem-emoji:hover{
  background-color: #cacaca;
}

.marker-list-elem-more:hover{
  background-color: #cacaca;
  border-radius: 4px;
}

.marker-list-elem-delete:hover{
  color: red;
}

.t {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-14px);
}

.t.bi {
  cursor: pointer;
  font-size: 28px;
  opacity: 0.3;
  transition: all 150ms;
  display: none;
}

.t.bi:hover {
  opacity: 1;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
}

.title-pad {
  width: 50%;
  /* width: var(--title-width); */
  height: 7%;
  transform: translateX(-50%);
  background-color: white;
  padding: 4px;
  z-index: 1;
}
.title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: small;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
.title:hover {
  background-color: #f2f2f2;
}

div.title-pad > i {
  color: red;
  position: absolute;
  top: calc(-100% );
  left: calc(100%);
  cursor: pointer;
  background: white;
  border-radius: 50px;
  font-size: medium;
  height: 16px;
  width: 16px;
  display: block;
  transform: translate(-50%, calc(50% + 10px));
}
div.title-pad > i::before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label-input {
  display: none;
  position: absolute;
  z-index: 100;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  font-family: "Futura-LT-W01-Book", cursive;
  text-align: center;
  padding: 0;
  transform: translate(-50%, 0);
  width: 130px;
}

.bi-check-circle-fill {
  color: green;
}
.bi-x-circle-fill {
  color: red;
}
.ok-cancel {
  display: none;
  justify-content: space-between;
    font-size: 25px;
    position: relative;
    width: 60px;
    height: fit-content;
    z-index: 10;
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: calc(50% + 30px)
}
.ok-cancel div {
  background-color: white;
  height: fit-content;
  width: fit-content;
  border-radius: 50px;
}

.ok-cancel .bi{
  display: flex;
}

.next-btn{
  height: 50px;
  width: 100%;
  background-color: var(--light-gray);
  border: 1px solid var(--border-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
}
.add-cart-btn-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 100%;
  background-color: #FFF6F6;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  padding: 15px;
  color: var(--text-olive);
}

.product-info{
  margin: 30px 0;
  padding: 0 5px;
  line-height: 1.2;
}
.product-info li{
  margin-bottom: 10px;
}

.add-to-cart-btn{
  height: 50px;
  width: 100%;
  background-color: var(--primary-red);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  user-select: none;
  border: none;
  color: white;
  font-weight: bold;
  transition: all 150ms ease-in-out;
}

.add-to-cart-btn:hover{
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.522);
}

.add-to-cart-btn:active{
  transform: scale(0.95);
}

.product-desc{
  width: 100%;
}

.product-title{
  font-size: 20px;
  font-weight: 600;
}

.price{
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  color: black;
}


@media (max-width: 320px) {
  emoji-picker {
    --emoji-size: 17px;
    height: calc(85% - 30px) !important;
  }
  .place-input-gap{
    height: 0;
  }
  body,
  .main-window {
    flex-direction: column;
    gap: 5px;
    height: unset;
  }
  .map-container{
    z-index: 99;
    background: white;
    height: fit-content;
    margin: 0;
    top: 0;
  }
  .main-window,
  .main-window > div {
    width: 300px;
  }
  .map-style {
    height: 45px;
  }
  .emoji-style-cont {
    height: 510px;
    margin-top: 0;
  }

  .right-panel {
    margin-top: 20px;
    position: unset;
    width: 300px;
    height: fit-content;
  }
  .markers-list-cont {
    margin: 0;
    margin-top: 30px;
    height: 250px;
  }
  .style-cont{
    height: unset;
  }
  .toggle-btns{
    height: 50px;
  }
  .title-pad{
    height: 8%;
  }
  .title{
    font-size: 7px;
  }
  .t{
    bottom: 17px;
  }
}
